@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Metropolis-Medium.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Metropolis-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Metropolis-Medium.woff2") format("woff2"), url("../fonts/Metropolis-Medium.woff") format("woff"), url("../fonts/Metropolis-Medium.ttf") format("truetype"), url("../fonts/Metropolis-Medium.svg#Mulish") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Metropolis-Black.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/Metropolis-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Metropolis-Black.woff2") format("woff2"), url("../fonts/Metropolis-Black.woff") format("woff"), url("../fonts/Metropolis-Black.ttf") format("truetype"), url("../fonts/Metropolis-Black.svg#Mulish") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/metropolis.bold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/metropolis.bold.eot?#iefix") format("embedded-opentype"), url("../fonts/metropolis.bold.woff2") format("woff2"), url("../fonts/metropolis.bold.woff") format("woff"), url("../fonts/metropolis.bold.ttf") format("truetype"), url("../fonts/metropolis.bold.svg#Mulish") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/metropolis.semi-bold.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/metropolis.semi-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/metropolis.semi-bold.woff2") format("woff2"), url("../fonts/metropolis.semi-bold.woff") format("woff"), url("../fonts/metropolis.semi-bold.ttf") format("truetype"), url("../fonts/metropolis.semi-bold.svg#Mulish") format("svg");
  /* Legacy iOS */
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

button:focus {
  outline: 0 !important;
}

input:focus {
  outline: 0 !important;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Metropolis';
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-size: 100%;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1420px;
  padding: 0 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@font-face {
  font-family: 'icons';
  src: url("fonts/icons.ttf?xe6jbs") format("truetype"), url("fonts/icons.woff?xe6jbs") format("woff"), url("fonts/icons.svg?xe6jbs#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-facebook::before {
  content: "\e900";
}

._icon-instagram::before {
  content: "\e901";
}

._icon-twitter::before {
  content: "\e902";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1194,5px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 41px;
}

.header__logo {
  z-index: 9;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 680px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link {
  font-family: 'Metropolis';
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #505050;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__link:hover::after {
  content: '';
}

.header__link::after {
  position: absolute;
  width: 23px;
  height: 3px;
  border-radius: 2px;
  background-color: #717cff;
  top: 29px;
  left: -11.5px;
}

.header__btn {
  font-family: 'Metropolis';
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #505050;
  width: 111px;
  height: 42px;
  border-radius: 11px;
  border: solid 2px #717cff;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__btn:hover {
  background: #717cff;
  color: #fff;
}

.preview__student {
  position: absolute;
  right: 188px;
  bottom: 0;
  z-index: 1;
}

.preview__cloud {
  position: absolute;
  right: -390px;
  bottom: -150px;
}

.preview__title {
  margin: 140px 0 15px 0;
  font-family: 'Metropolis';
  font-size: 56px;
  font-weight: 900;
  text-align: left;
  color: #2f2f2f;
  max-width: 550px;
}

.preview__title p span {
  color: #717cff;
}

.preview__text {
  max-width: 632px;
  margin: 15px 0 42px 0;
  font-family: 'Metropolis';
  font-size: 22px;
  font-weight: 500;
  line-height: 1.73;
  text-align: left;
  color: #7d7d7d;
}

.preview__btn {
  width: 262px;
  height: 64px;
  margin-bottom: 186px;
  border-radius: 11px;
  background-color: #717cff;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.82;
  text-align: left;
  color: #ffffff;
  padding: 12px 0px 19px 34px;
  border: solid 2px #717cff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.preview__btn:hover {
  color: #717cff;
  background: #ffffff;
}

.preview .container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  overflow: hidden;
}

.featured {
  background: #fafafa;
  padding-bottom: 175px;
}

.featured__title {
  margin-top: 55px;
  margin-bottom: 82px;
  opacity: 0.73;
  font-family: 'Metropolis';
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 2.1px;
  text-align: center;
  color: #373737;
}

.featured__slider {
  max-width: 1200px;
}

.featured__card {
  margin: 0 20px;
}

.services {
  padding-top: 122px;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__card {
  max-width: 374px;
  margin: 28px 23px;
  padding: 29px 17px 29px 31px;
  max-height: 457.2px;
  border-radius: 15px;
  border: solid 3px #ffffff;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.06);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.services__card:hover {
  border: solid 3px #717cff;
}

.services__img {
  width: 76px;
  min-height: 76px;
  border-radius: 50%;
  margin-bottom: 30px;
  background-color: #717cff;
}

.services__article {
  margin: 0 17px 14px 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.54;
  text-align: left;
  color: #37474f;
}

.services__text {
  margin: 14px 0 25.6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.44px;
  text-align: left;
  color: rgba(55, 71, 79, 0.72);
  height: 100%;
}

.services__btn {
  margin: 0 18px 0px 0;
  font-size: 17px;
  max-width: 115px;
  font-weight: bold;
  background-color: #ffffff;
  letter-spacing: 0.44px;
  text-align: left;
  color: #717cff;
  border-radius: 4px;
  border: solid 2px #ffffff;
  padding: 4px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services__btn:hover {
  border: solid 2px #717cff;
}

.news {
  padding: 200px 0 222px 0;
  position: relative;
}

.news__background {
  position: absolute;
  max-width: 1212px;
  width: 100%;
  height: 1100px;
  margin: 73px 62px 0 0;
  background-color: #fafafa;
  left: 0;
  z-index: -1;
}

.news__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 90px;
}

.news__card {
  max-width: 344px;
  height: 406px;
  margin: 0 23px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 30px;
  -webkit-box-shadow: 0 6px 42px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 42px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__data {
  margin: 28px 0 0 56px;
  font-family: 'Metropolis';
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #565656;
}

.news__title {
  margin: 15px 0 0 26px;
  font-family: 'Metropolis';
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  color: #252525;
  height: 1em;
  overflow-y: hidden;
}

.news__btn {
  width: 226px;
  height: 64px;
  margin-top: 146px;
  padding: 12px 32.5px 19px 34px;
  border-radius: 11px;
  background-color: #717cff;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.82;
  text-align: left;
  color: #ffffff;
}

.events {
  padding-bottom: 203px;
}

.events__container {
  max-width: 1200px;
  margin-top: 100px;
  -webkit-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.06);
}

.events__card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 540px;
  padding: 29px 27.6px 31px 31px;
  margin: 0 30px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
}

.events__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.events__data {
  width: 76px;
  height: 76px;
  margin: 0 19px 29px 0;
  padding: 10px 22.5px;
  border-radius: 11px;
  background-color: rgba(113, 125, 255, 0.14);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.events__data p {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #717cff;
}

.events__data p span {
  font-size: 27px;
  font-weight: bold;
}

.events__title {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #37474f;
  font-size: 18px;
}

.events__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.44px;
  margin-bottom: 25px;
  text-align: left;
  color: rgba(55, 71, 79, 0.72);
}

.events__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.events__btn {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.44px;
  text-align: left;
  color: #717cff;
}

.events__time {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.75;
  letter-spacing: 0.44px;
  text-align: right;
  color: #373737;
}

.countries {
  background: #fafafa;
  padding: 82px 0 233px 0;
}

.countries__container {
  max-width: 1140px;
  margin-top: 77px;
}

.countries__card {
  margin: 0 20px;
}

.countries__img {
  border-radius: 29px;
  overflow: hidden;
}

.countries__title {
  margin: 27px 0px 7px 0;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  color: #37474f;
}

.countries__text {
  max-width: 348px;
  margin: 7px 0 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.69;
  text-align: left;
  color: rgba(55, 71, 79, 0.72);
  max-height: 3em;
  overflow-y: hidden;
}

.testomonial {
  padding: 115px 0 196px 0;
}

.testomonial__slider {
  max-width: 1150px;
  margin-top: 102px;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
}

.testomonial__card {
  max-width: 503px;
  margin: 0 30px;
  padding: 39px 34px 46px;
  border-radius: 29px;
  -webkit-box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.065);
          box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.065);
  background-color: #ffffff;
}

.testomonial__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testomonial__img {
  border-radius: 12px;
  overflow: hidden;
  min-width: 62px;
  height: 62px;
}

.testomonial__name {
  margin: 5px 0 0 27px;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  color: #37474f;
}

.testomonial__prof {
  margin: 10px 0px 33px 27px;
  opacity: 0.65;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #37474f;
}

.testomonial__text {
  max-width: 435px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.72;
  text-align: left;
  color: rgba(55, 71, 79, 0.72);
  height: 8em;
  overflow-y: hidden;
}

.ready {
  background-color: #fafafa;
  padding: 80px 150px;
}

.ready .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ready__title {
  margin: 10px 0px 5px 0;
  font-size: 37px;
  font-weight: 600;
  text-align: center;
  color: #252525;
}

.ready__btn {
  width: 262px;
  height: 64px;
  padding: 12px 32.5px 19px 34px;
  border-radius: 11px;
  background-color: #717cff;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.82;
  text-align: left;
  color: #ffffff;
}

.footer {
  background: #717cff;
  padding: 64px 0 53px 0;
}

.footer__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  margin-bottom: 26px;
}

.footer__text {
  max-width: 343px;
  margin-bottom: 66px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.78;
  text-align: left;
  color: #eeeeee;
}

.footer__copyriting {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.78;
  text-align: left;
  color: #eeeeee;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__item {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 2.72;
  text-align: left;
  color: #eeeeee;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
}

.footer__icon {
  margin: 0 14px;
  color: #ffffff;
}

.title {
  margin: 0 0px 30px 0px;
  font-size: 37px;
  font-family: 'Metropolis';
  font-weight: 600;
  line-height: 1.46;
  letter-spacing: -0.46px;
  text-align: center;
  color: #373737;
}

.text {
  font-family: 'Metropolis';
  font-size: 16px;
  font-weight: 500;
  max-width: 850px;
  line-height: 1.75;
  letter-spacing: 0.44px;
  text-align: center;
  color: rgba(55, 71, 79, 0.72);
  max-height: 7em;
  overflow-y: hidden;
}

.menu-burger {
  display: none;
}

.shadow {
  -webkit-box-shadow: 0px 0px 3px #888;
          box-shadow: 0px 0px 3px #888;
}

.d-none {
  display: none;
}

._lock {
  overflow: hidden;
}

.countries__container.slick-slider {
  position: relative;
}

.countries__container.slick-slider .slick-list {
  overflow: hidden;
}

.countries__container.slick-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.countries__container.slick-slider .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: calc(50% - 70px);
  top: 400px;
}

.countries__container.slick-slider .slick-dots li button {
  font-size: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(124, 124, 124, 0.32);
  margin: 0 10px;
}

.countries__container.slick-slider .slick-dots li.slick-active button {
  background-color: #717cff;
}

.featured__slider.slick-slider {
  position: relative;
}

.featured__slider.slick-slider .slick-list {
  overflow: hidden;
}

.featured__slider.slick-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured__slider.slick-slider .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: calc(50% - 70px);
  top: 175px;
}

.featured__slider.slick-slider .slick-dots li button {
  font-size: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(124, 124, 124, 0.32);
  margin: 0 10px;
}

.featured__slider.slick-slider .slick-dots li.slick-active button {
  background-color: #717cff;
}

.events__container.slick-slider {
  position: relative;
}

.events__container.slick-slider .slick-list {
  overflow: hidden;
}

.events__container.slick-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.events__container.slick-slider .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: calc(50% - 70px);
  top: 450px;
}

.events__container.slick-slider .slick-dots li button {
  font-size: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(124, 124, 124, 0.32);
  margin: 0 10px;
}

.events__container.slick-slider .slick-dots li.slick-active button {
  background-color: #717cff;
}

.testomonial__slider.slick-slider {
  position: relative;
}

.testomonial__slider.slick-slider .slick-list {
  overflow: hidden;
}

.testomonial__slider.slick-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testomonial__slider.slick-slider .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: calc(50% - 70px);
  top: 400px;
}

.testomonial__slider.slick-slider .slick-dots li button {
  font-size: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(124, 124, 124, 0.32);
  margin: 0 10px;
}

.testomonial__slider.slick-slider .slick-dots li.slick-active button {
  background-color: #717cff;
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1360px;
  }

  .preview__student {
    right: 160px;
  }
}

@media screen and (max-width: 1210px) {
  .news__container {
    margin-top: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1180px;
  }

  .header__list img {
    max-width: 600px;
  }

  .preview__student {
    width: 400px;
    right: 50px;
  }

  .preview__text {
    z-index: 2;
  }

  .featured__slider {
    max-width: 900px;
  }

  .events__container {
    max-width: 980px;
  }

  .countries__container {
    max-width: 980px;
  }

  .countries__img {
    max-width: 300px;
  }

  .countries__img img {
    width: 100%;
  }

  .testomonial__slider {
    max-width: 980px;
  }

  .ready {
    padding: 80px 40px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 1000px;
  }

  .header__logo img {
    max-width: 100px;
  }

  .header__list {
    max-width: 500px;
  }

  .header__link {
    font-size: 15px;
  }

  .header__btn {
    width: 100px;
    height: 34px;
  }

  .preview__student {
    display: none;
  }

  .preview__cloud {
    right: -600px;
  }

  .preview__btn {
    z-index: 2;
  }

  .featured__slider {
    max-width: 600px;
  }

  .events__container {
    max-width: 580px;
  }

  .countries__container {
    max-width: 730px;
  }

  .testomonial__slider {
    max-width: 740px;
  }

  .ready__title {
    font-size: 29px;
  }

  .ready__btn {
    width: 210px;
  }

  .footer__socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: initial;
  }

  .footer__icon {
    margin: 14px 0;
  }

  .featured__slider.slick-slider .slick-dots {
    left: calc(50% - 102px);
  }

  .events__container.slick-slider .slick-dots {
    left: calc(50% - 136px);
  }

  .testomonial__slider.slick-slider .slick-dots {
    left: calc(50% - 70px);
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 760px;
  }

  .header__list {
    max-width: initial;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .header__list li {
    margin: 20px 0;
  }

  .header__link {
    font-size: 20px;
  }

  .preview__cloud {
    max-width: 800px;
    right: -500px;
    bottom: -120px;
  }

  .preview__title {
    text-align: center;
  }

  .preview__text {
    text-align: center;
  }

  .preview__btn {
    margin-bottom: 100px;
    width: 202px;
    height: 60px;
    padding: 8px 0px 0px 34px;
  }

  .preview .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .featured__slider {
    max-width: 550px;
  }

  .services {
    padding-top: 80px;
  }

  .countries {
    padding: 82px 0 180px 0;
  }

  .countries__container {
    max-width: 560px;
  }

  .testomonial__slider {
    max-width: 540px;
  }

  .ready .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .ready__btn {
    margin-top: 30px;
  }

  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__info {
    margin-bottom: 20px;
  }

  .footer__text {
    margin-bottom: 40px;
  }

  .footer__column {
    margin: 0 20px;
    margin-bottom: 20px;
  }

  .footer__socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer__icon {
    margin: 0 14px;
  }

  .menu-burger {
    display: block;
    z-index: 5;
    right: 0px;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu-burger::before,
  .menu-burger::after,
  .menu-burger span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: black;
  }

  .menu-burger::before,
  .menu-burger::after {
    content: "";
  }

  .menu-burger::before {
    top: 0;
  }

  .menu-burger::after {
    bottom: 0;
  }

  .menu-burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
        -ms-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }

  .menu-burger._active span {
    -webkit-transform: scale(0) translate(0, -50%);
        -ms-transform: scale(0) translate(0, -50%);
            transform: scale(0) translate(0, -50%);
  }

  .menu-burger._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu-burger._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }

  .header__list {
    position: fixed;
    overflow: auto;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 120px 15px 15px 15px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__list._active {
    left: 0px;
  }

  .header__list._active .header__logo {
    position: fixed;
    left: 30px;
  }

  .header__list._active .fixed-burger {
    position: fixed;
  }

  .header__list._active::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 94px;
    background: gray;
    z-index: 9;
  }

  .countries__container.slick-slider .slick-dots {
    top: 350px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 570px;
    padding: 0 15px;
  }

  .preview__cloud {
    max-width: 600px;
    right: -370px;
    bottom: -50px;
  }

  .preview__title {
    font-size: 46px;
    margin: 80px 0 15px 0;
  }

  .preview__text {
    font-size: 16px;
  }

  .featured {
    padding-bottom: 100px;
  }

  .featured__slider {
    max-width: 280px;
  }

  .services__card {
    margin: 5px;
  }

  .news {
    padding: 120px 0 102px 0;
  }

  .news__card {
    height: 350px;
    margin: 15px 5px;
  }

  .news__img {
    width: 100%;
  }

  .news__btn {
    margin-top: 86px;
    width: 186px;
    height: 64px;
  }

  .events__container {
    max-width: 320px;
    margin-top: 60px;
  }

  .events__card {
    padding: 20px;
    margin: 0 10px;
  }

  .events__btn {
    font-size: 15px;
  }

  .events__time {
    font-size: 14px;
  }

  .countries__container {
    max-width: 320px;
  }

  .countries__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .countries__text {
    max-width: 300px;
  }

  .testomonial {
    padding: 80px 0 120px 0;
  }

  .testomonial__slider {
    max-width: 300px;
    margin-top: 60px;
  }

  .testomonial__card {
    margin: 0px;
  }

  .countries__container.slick-slider .slick-dots {
    top: 370px;
    left: calc(50% - 129px);
  }

  .events__container.slick-slider .slick-dots {
    top: 490px;
  }

  .testomonial__slider.slick-slider .slick-dots {
    top: 410px;
  }
}

@media screen and (max-width: 546px) {
  .footer__socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__icon {
    margin: 14px 0;
  }
}

@media screen and (max-width: 414px) {
  .footer__socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .footer__icon {
    margin: 0 14px;
  }
}

@media screen and (max-width: 394px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__text {
    text-align: center;
  }

  .footer__copyriting {
    text-align: center;
  }

  .footer__column {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}